# Ingesting Movies Data Into Postgres

## Installing Libraries

In [1]:
!pip install psycopg2
!pip install pandas

Requirement already satisfied: psycopg2 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: pandas in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import psycopg2
import pandas as pd

## Connecting to Postgres

In [3]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=Christopher.J.Lu password=Housepen67!")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

Creating a cursor to execute our queries.

In [4]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

Setting session's autocommit to true so we don't have to manually call commit after every transaction.

In [5]:
conn.set_session(autocommit=True)

## Creating a Database

In [6]:
try: 
    cur.execute("drop database movies if exists")
    cur.execute("create database movies")
except psycopg2.Error as e:
    print(e)

syntax error at or near "if"
LINE 1: drop database movies if exists
                             ^

## Connecting to Database

## Ingesting Data From Files

In [7]:
imdb_data = pd.read_csv('../data/imdb_top_1000.csv')
oscar_data = pd.read_csv('../data/the_oscar_award.csv')

## Light Data Processing

Let's look at the data first:

In [8]:
imdb_data.head(10)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

We can use the columns in this dataframe to create our Movies table (refer to the ER diagram in the README):
- Movie_ID -> We'll just use the dataframe index here
- Series_Title -> Rename to movie_title
- Released_Year
- Certificate
- Runtime -> Rename to runtime_minutes
- Genre

We can also use these columns to create our Movie_Ratings table:
- Movie_ID (We will join this to our Movies table using Movie Title to get the Movie_ID)
- IMDB_Rating
- Meta_score -> Rename to Metacritic_score
- No_of_Votes -> Rename to no_of_IMDB_votes

Finally, we can also get our Movie_Box_Office table:
- Movie_ID (We will join this to our Movies table using Movie Title to get the Movie_ID)
- Gross -> Rename to gross_usd

Let's add our Movie_ID primary column to the base imdb_data set since we'll be using it in all our tables.

In [9]:
imdb_data.insert(0, 'Movie_ID', imdb_data.index + 1)
imdb_data.head()

,Movie_ID,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,1,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,2,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,5,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

Now, let's drop the columns we won't be needing.

In [10]:
to_drop = [
    'Poster_Link',
    'Overview',
    'Star1',
    'Star2',
    'Star3',
    'Star4',
]

imdb_data.drop(to_drop, inplace=True, axis=1)
imdb_data.head()

,Movie_ID,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross
0,1,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,2343110,"28,341,469"
1,2,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,1620367,"134,966,411"
2,3,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,2303232,"534,858,444"
3,4,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,1129952,"57,300,000"
4,5,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,689845,"4,360,000"

In [11]:
# Getting the columns we need
movies_raw = imdb_data[["Movie_ID", "Series_Title", "Released_Year", "Certificate", "Runtime", "Genre", "Director"]]
movies_raw.head()

,Movie_ID,Series_Title,Released_Year,Certificate,Runtime,Genre,Director
0,1,The Shawshank Redemption,1994,A,142 min,Drama,Frank Darabont
1,2,The Godfather,1972,A,175 min,"Crime, Drama",Francis Ford Coppola
2,3,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",Christopher Nolan
3,4,The Godfather: Part II,1974,A,202 min,"Crime, Drama",Francis Ford Coppola
4,5,12 Angry Men,1957,U,96 min,"Crime, Drama",Sidney Lumet

In [12]:
# Renaming the columns
movies_temp = movies_raw
movies_temp.rename(columns={
    'Movie_ID':'movie_id',
    'Series_Title':'movie_title',
    'Released_Year':'released_year',
    'Certificate':'certificate',
    'Runtime':'runtime_minutes',
    'Genre':'genre',
    'Director':'director'
}, inplace=True)
movies_temp.head()

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/418153119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp.rename(columns={

,movie_id,movie_title,released_year,certificate,runtime_minutes,genre,director
0,1,The Shawshank Redemption,1994,A,142 min,Drama,Frank Darabont
1,2,The Godfather,1972,A,175 min,"Crime, Drama",Francis Ford Coppola
2,3,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",Christopher Nolan
3,4,The Godfather: Part II,1974,A,202 min,"Crime, Drama",Francis Ford Coppola
4,5,12 Angry Men,1957,U,96 min,"Crime, Drama",Sidney Lumet

In [13]:
# We need to convert Runtime_Minutes into a integer field by removing the " min" from the data and 
# changing the data type of the column from varchar to integer.
movies_temp["runtime_minutes"] = pd.to_numeric(movies_temp["runtime_minutes"].replace(" min", "", regex=True))

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/4272800294.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp["runtime_minutes"] = pd.to_numeric(movies_temp["runtime_minutes"].replace(" min", "", regex=True))

In [14]:
movies_temp["released_year"] = pd.to_numeric(movies_temp["released_year"], errors='coerce', downcast='integer')
movies_temp.dropna(inplace=True)
movies_temp["released_year"] = movies_temp["released_year"].astype(int)
movies_clean = movies_temp
movies_clean.head()

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2283981523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp["released_year"] = pd.to_numeric(movies_temp["released_year"], errors='coerce', downcast='integer')
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2283981523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp.dropna(inplace=True)
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2283981523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp["released_year"] = movies_temp["released_year"].astype(int)

,movie_id,movie_title,released_year,certificate,runtime_minutes,genre,director
0,1,The Shawshank Redemption,1994,A,142,Drama,Frank Darabont
1,2,The Godfather,1972,A,175,"Crime, Drama",Francis Ford Coppola
2,3,The Dark Knight,2008,UA,152,"Action, Crime, Drama",Christopher Nolan
3,4,The Godfather: Part II,1974,A,202,"Crime, Drama",Francis Ford Coppola
4,5,12 Angry Men,1957,U,96,"Crime, Drama",Sidney Lumet

Let's make the Movie_Ratings dataframe here:

In [15]:
movie_ratings_temp = imdb_data[["Movie_ID", "IMDB_Rating", "Meta_score", "No_of_Votes"]]
movie_ratings_temp.dropna(inplace=True)
movie_ratings_temp.head()

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2238758908.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ratings_temp.dropna(inplace=True)

   Movie_ID  IMDB_Rating  Meta_score  No_of_Votes
0         1          9.3        80.0      2343110
1         2          9.2       100.0      1620367
2         3          9.0        84.0      2303232
3         4          9.0        90.0      1129952
4         5          9.0        96.0       689845

In [16]:
# We'll do some similar light processing here:
movie_ratings_temp.rename(columns={
    'Movie_ID':'movie_id',
    'Meta_score':'Metacritic_score',
    'No_of_Votes':'no_of_IMDB_votes'}, inplace=True)
movie_ratings_temp.insert(0, 'rating_id', movie_ratings_temp.index + 1)
movie_ratings_temp['Metacritic_score'] = movie_ratings_temp['Metacritic_score'].astype(int)
movie_ratings_clean = movie_ratings_temp

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/3781171446.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ratings_temp.rename(columns={
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/3781171446.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ratings_temp['Metacritic_score'] = movie_ratings_temp['Metacritic_score'].astype(int)

We now have our processed data for Movies and Movie_Ratings. Let's process our Movie_Box_Office data.

In [17]:
movie_box_office_temp = imdb_data[["Movie_ID", "Gross"]]
movie_box_office_temp.rename(columns={
    'Movie_ID':'movie_id',
    'Gross':'gross_usd'
}, inplace=True)
movie_box_office_temp.insert(0, 'movie_box_office_id', movie_box_office_temp.index + 1)
movie_box_office_temp['gross_usd'].replace(",", "", regex=True, inplace=True)
movie_box_office_temp.dropna(inplace=True)
movie_box_office_temp['gross_usd'] = movie_box_office_temp['gross_usd'].astype(int)
movie_box_office_clean = movie_box_office_temp

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2688208397.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_box_office_temp.rename(columns={
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2688208397.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_box_office_temp['gross_usd'].replace(",", "", regex=True, inplace=True)
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2688208397.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_box_office_temp.dropna(inplace=True)
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_93522/2688208397.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_box_office_temp['gross_usd'] = movie_box_office_temp['gross_usd'].astype(int)

Lastly, let's get our Oscar_Nominations data. This comes from a different file that we ingested into our oscar_data DataFrame.

In [18]:
to_drop = [
    "year_ceremony",
    "ceremony",
    "name"
]

oscar_data.drop(to_drop, inplace=True, axis=1)

In [19]:
oscar_data.head(50)

,year_film,category,film,winner
0,1927,ACTOR,The Noose,False
1,1927,ACTOR,The Last Command,True
2,1927,ACTRESS,A Ship Comes In,False
3,1927,ACTRESS,7th Heaven,True
4,1927,ACTRESS,Sadie Thompson,False
5,1927,ART DIRECTION,Sunrise,False
6,1927,ART DIRECTION,The Dove;,True
7,1927,ART DIRECTION,7th Heaven,False
8,1927,CINEMATOGRAPHY,The Devil Dancer;,False
9,1927,CINEMATOGRAPHY,Sunrise,True
10,1927,CINEMATOGRAPHY,Sunrise,True
11,1927,DIRECTING (Comedy Picture),Two Arabian Knights,True
12,1927,DIRECTING (Comedy Picture),Speedy,False
13,1927,DIRECTING (Dramatic Picture),7th Heaven,True
14,1927,DIRECTING (Dramatic Picture),Sorrell and Son,False
15,1927,DIRECTING (Dramatic Picture),The Crowd,False
16,1927,ENGINEERING EFFECTS,NaN,False
17,1927,ENGINEERING EFFECTS,Wings,True
18,1927,ENGINEERING EFFECTS,NaN,False
19,1927,OUTSTANDING PICTURE,The Racket,False
20,1927,OUTSTANDING PICTURE,7th Heaven,False
21,1927,OUTSTANDING PICTURE,Wings,True
22,1927,UNIQUE AND ARTISTIC PICTURE,Sunrise,True
23,1927,UNIQUE AND ARTISTIC PICTURE,The Crowd,False
24,1927,UNIQUE AND ARTISTIC PICTURE,Chang,False
25,1927,WRITING (Adaptation),The Jazz Singer,False
26,1927,WRITING (Adaptation),Glorious Betsy,False
27,1927,WRITING (Adaptation),7th Heaven,True
28,1927,WRITING (Original Story),The Last Command,False
29,1927,WRITING (Original Story),Underworld,True
30,1927,WRITING (Title Writing),The Private Life of Helen of Troy,False
31,1927,WRITING (Title Writing),NaN,True
32,1927,WRITING (Title Writing),NaN,False
33,1927,SPECIAL AWARD,NaN,True
34,1927,SPECIAL AWARD,NaN,True
35,1928,ACTOR,Thunderbolt,False
36,1928,ACTOR,In Old Arizona,True
37,1928,ACTOR,Alibi,False
38,1928,ACTOR,The Valiant,False
39,1928,ACTOR,The Patriot,False
40,1928,ACTRESS,Madame X,False
41,1928,ACTRESS,The Barker,False
42,1928,ACTRESS,The Letter,False
43,1928,ACTRESS,The Divine Lady,False
44,1928,ACTRESS,The Broadway Melody,False
45,1928,ACTRESS,Coquette,True
46,1928,ART DIRECTION,The Patriot,False
47,1928,ART DIRECTION,The Bridge of San Luis Rey,True
48,1928,ART DIRECTION,Dynamite,False
49,1928,ART DIRECTION,Alibi;,False

In [20]:
oscar_data.rename(columns={'winner': 'won_Oscar', 'film':'movie_title', 'year_film':'released_year'}, inplace=True)

In [21]:
oscar_data.dropna(inplace=True)

Now we need to get the movie_ids from our movie dataframe. We can do this by joining on the movie title and film columns.

In [22]:
oscar_data = oscar_data.merge(movies_clean, on=['movie_title', 'released_year'])

In [23]:
oscar_data.dropna(inplace=True)
oscar_data.head()

,released_year,category,movie_title,won_Oscar,movie_id,certificate,runtime_minutes,genre,director
0,1934,ACTOR,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
1,1934,ACTRESS,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
2,1934,DIRECTING,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
3,1934,OUTSTANDING PRODUCTION,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
4,1934,WRITING (Adaptation),It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra

Now let's do our data processing (dropping the unneeded columns, adding in our unique id column, etc)

In [24]:
to_drop = [
    'movie_title',
    'released_year',
    'director',
    'certificate',
    'runtime_minutes',
    'genre'
]

oscar_nominations_temp = oscar_data.drop(to_drop, axis=1)

KeyError: "['released_Year'] not found in axis"

In [ ]:
oscar_nominations_temp.insert(0, 'Oscar_nomination_id', oscar_data.index + 1)
oscar_nominations_clean = oscar_nominations_temp

We finally have all the data we need. Here are the final dataframes for each of our 4 tables.

In [ ]:
movies_clean

In [ ]:
movie_ratings_clean

In [ ]:
movie_box_office_clean

In [ ]:
oscar_nominations_clean

## Creating the Tables

The next step is to create the tables in Postgres with compatible schema details.

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS movies (movie_id int, title varchar,\
    released_year int, certificate varchar, runtime_minutes int, genre varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS movie_ratings (rating_id int, movie_id int,\
    IMDB_rating numeric, Metacritic_score int, no_of_IMDB_votes int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS movie_box_office (box_office_id int, movie_id int,\
    gross_usd int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS oscar_nominations (Oscar_nomination_id int, movie_id int,\
    category varchar, won_Oscar boolean);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
cur.execute("SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname = 'public';")
cur.fetchall()

## Ingesting the Data

We will use sqlalchemy to insert a Pandas dataframe into Postgres.

In [ ]:
!pip install SQLAlchemy

In [ ]:
from sqlalchemy import create_engine

In [ ]:
conn_string = 'postgresql://Christopher.J.Lu:Housepen67!@127.0.0.1/postgres'
  
db = create_engine(conn_string) 
sql_conn = db.connect()

In [ ]:
movies_clean.to_sql('movies', con=sql_conn, if_exists='replace', 
          index=False)

In [ ]:
movie_ratings_clean.to_sql('movie_ratings', con=sql_conn, if_exists='replace', index=False)

In [ ]:
movie_box_office_clean.to_sql('movie_box_office', con=sql_conn, if_exists='replace', index=False)

In [ ]:
oscar_nominations_clean.to_sql('oscar_nominations', con=sql_conn, if_exists='replace', index=False)

In [ ]:
cur.execute("SELECT * FROM movies LIMIT 10;")
cur.fetchall()

In [ ]:
cur.execute("SELECT * FROM movie_ratings LIMIT 10;")
cur.fetchall()

In [ ]:
cur.execute("SELECT * FROM movie_box_office LIMIT 10;")
cur.fetchall()

In [ ]:
cur.execute("SELECT * FROM oscar_nominations LIMIT 100;")
cur.fetchall()